__pycache__/
*.py[cod]
*$py.class

# Objects, shared objects
*.o
*.so

# Emacs
*~

/demos
/bin
/providers
/.vagrant
/testing
/derived

# OS X profiling
instruments*.trace

# temporaries in root directory
/*.xml
/*.snap
/*.gz
/CMakeFiles
/cmake-build-*
/external/rng-svg
/pypy-env
/*.log
/.tmp
/cmake-build-*
/.vscode

/*.xml
/*.gz
/*.elf
/*.svg
/*.dot
.mypy_cache
/.tmp*
/.idea

a.out
perf.data
perf.data.old
/apps/ising_spin_fix/ising_spin_fix_ref
/my-pypy3-env
/pypy3-virtualenv
-la
cuba.base85
iz.bin
iz.bin.bz2
out.b85
out.b85.bz2
out.bin
out.tmp
out.txt
poems_sim
apps/nursery/SNN/cuba.*
apps/nursery/SNN/iz.*
apps/nursery/SNN/net.*
apps/nursery/SNN/out_*
apps/nursery/SNN/small.*
apps/nursery/SNN/tiny.*
apps/nursery/SNN/tmp.*
apps/nursery/tf-ml/training/logs
benchmarks/small

callgrind.*
*.dwo
