__pycache__/
*.py[cod]
*$py.class

# Objects, shared objects
*.o
*.so

# Emacs
*~

/demos
/bin
/providers
/.vagrant

# OS X profiling
instruments*.trace

# temporaries in root directory
/*.xml
/*.snap
/*.gz
/CMakeFiles
/cmake-build-*
/external/rng-svg
/pypy-env

/*.xml
/*.gz
/*.elf
/*.svg
/*.dot
.mypy_cache
/.tmp*
/.idea